@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  overflow: hidden;
  margin: 0 0;
}

.section {
  height: 100vh;
  width: 100vw;
  background: no-repeat url('./images/splash1_low_res.jpg');
  background-size: cover;
}
.box {
  border: 1em solid white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 0.5% 1.5%;
}

.title-box {
  top: 10vh;
  width: 75%;
}

.text-box {
  height: 5em;
  width: 10em;
  top: 40vh;
}

.text {
  font-family: 'Open Sans', Helvetica, san-serif;
  color: white;
}

a {
  text-decoration: none;
}

h1:hover {
  color: black;
  -moz-transition: color 3s ease;
  -webkit-transition: color 3s ease;
  -o-transition: color 3s ease;
  transition: color 3s ease;
}

h1:active {
  color: white;
}

.box:hover {
  border-color: black;
  -moz-transition: border-color 3s ease;
  -webkit-transition: border-color 3s ease;
  -o-transition: border-color 3s ease;
  transition: border-color 3s ease;
}

@media only screen and (max-width:768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  } 

  .text-box {
    height: 4em;
    width: 8em;
    top: 30vh;
  }
}
